*{
    margin: 0;
    padding: 0;
}


body{
    
    width: 100%;
    background-image: url('space.png');
    background-position: center;
    background-size: cover;
    position: relative;       
         
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}

.nav-links ul li a{
    color: azure;
    font-size: 15px;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%
}

.index-text{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.index-text h1{
    font-size: 62px;
}
.index-text p{
    margin: 10px 0 40px;
    font-size: 30px;
    color: white
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:white;
    border: 1px solid #fff;
    padding: 12px 30px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}


.video-player{
    
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.text-about{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-about h1{
    font-size: 62px;
}
.text-about p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: white
}


.blog-container{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 20px 0px;
   flex-wrap: wrap;
}

.blog-box{ 
    width: 350px;
    background-color: #22084C;
    border: 1px solid white;
   float: left;
    margin:1.3%;
}
.blog-img{
    width: 100%;
    height: auto;
    
}
.blog-img img{
    
    width:100%;
    max-height: 150px;
    object-fit:cover;
    object-position: center;
}

.blog-text{
    padding: 20px;
    display: flex;
    flex-direction: column;
    
}
.blog-text span{
    color: aliceblue;
    font-size: 0.9rem;
    font-family: sans-serif;
}
.blog-text .blog-title1{
    font-size: 1.2rem;
    font-weight: 300;
    color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
}

.blog-text .blog-title1:hover{
    color: red;
    transition: all ease 0.3s;
}

.blog-text .blog-title2{
    font-size: 1.2rem;
    font-weight: 300;
    color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
}

.blog-text .blog-title2:hover{
    color: red;
    transition: all ease 0.3s;
}
.blog-text .blog-title3{
    font-size: 1.2rem;
    font-weight: 300;
    color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
}

.blog-text .blog-title3:hover{
    color: red;
    transition: all ease 0.3s;
}


.paragraph{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.paragraph h1{
    font-size: 62px;
    color: azure;
    font-family: sans-serif;
}
.paragraph p{
    margin:auto;
    font-size: 25px;
    font-family:sans-serif;
    color: white
}
.paragraph a{
    color: lightpink;
  background-color: transparent;
  text-decoration: none;
}

.text-box{ 
    width: 350px;
    background-color: #22084C;
    border: 1px solid white;
    margin: 20px;
    float: left;
}
.text-img{
    width: 100%;
    height: auto;
    
}
.text-img img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

.text-content{
    padding: 30px;
    display: flex;
    flex-direction: column;
    
}
.text-content span{
    color: aliceblue;
    font-size: 0.9rem;
    font-family: sans-serif;
}
.text-content .text-title1{
    font-size: 1.2rem;
    font-weight: 300;
    color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
}
.text-content .text-title1:hover{
    color: red;
    transition: all ease 0.3s;
}